
html {
    box-sizing: border-box;
  }

body {
    font-family: "Open Sans", Verdana, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
}

header {
    background-color: white;
}

nav {
    background-color: white;
}

main {
    background-color: white;
    flex-grow: 1;
    padding: 20px; 
}

footer {
    background-color: white;
}

